<template>
  <div class="container-fluid cons">
    <b-row>
      <b-col cols="8">
        <b-card>
          <b-container fluid>
            <!-- User Interface controls -->
            <b-row>
              <b-col lg="4" class="my-1">
                <b-form-group>
                  <b-input-group size="sm">
                    <b-form-input
                      v-model="filter"
                      type="search"
                      id="filterInput"
                      placeholder="Type to Search"
                    ></b-form-input>
                    <b-input-group-append>
                      <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                    </b-input-group-append>
                  </b-input-group>
                </b-form-group>
              </b-col>
 
              <b-col sm="3" md="4" class="my-1">
                <b-form-group
                  label="Per page"
                  label-cols-sm="6"
                  label-cols-md="4"
                  label-cols-lg="3"
                  label-align-sm="right"
                  label-size="sm"
                  label-for="perPageSelect"
                  class="mb-0"
                >
                  <b-form-select
                    v-model="perPage"
                    id="perPageSelect"
                    size="sm"
                    :options="pageOptions"
                  ></b-form-select>
                </b-form-group>
              </b-col>
         <b-col sm="4" md="4" class="my-1" style="text-align: right;">
          <b-button
            align="right"
            size="sm"
            variant = "success"
            style="font-size:15px "
            v-b-tooltip.hover
            title="Export Report to Excel"
            @click="exportReports"
          >
            Export to Excel          </b-button>
               </b-col>
            </b-row>

            <!-- Main table element -->
            <b-table
              show-empty
              small
              stacked="md"
              fixed
              :items="items"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
              @filtered="onFiltered"
            >
            </b-table>

            <b-col class="my-1">
              <b-pagination
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="center"
                size="sm"
                class="my-0"
              ></b-pagination>
            </b-col>
          </b-container>
        </b-card>
      </b-col>
      <b-col cols="4">
        <b-card>
          <center>
            <h4>MESS HALL SURVEY RESULT</h4>
          </center>
          
          <pie-chart
           :colors="['green', 'red', 'blue']"
           :data="[['Yes', yesses], ['No', noes], ['Pending', noVote]]"
           ></pie-chart>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Papa from "papaparse";
import moment from "moment";

export default {
  layout: "accounts",
  created() {
    if (!localStorage.token) {
      this.$router.push("/login");
    }
    this.getTransactions();
  },
  data() {
    return {
      items: [],
      fields: [
        {
          key: "id",
          label: "Employee ID",
          sortable: true,
        },
        {
          key: "name",
          label: "Employee Name",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "isSatisfied",
          label: "Satisfied",
          sortable: true,
          class: "text-center"
        },
        {
          key: "suggestion",
          label: "Suggestion",
          class: "text-center"
        }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,

      yesses: 0,
      noes: 0,
      noVote: 0
    };
  },
  computed: {
    


  },
  mounted() {
    // Set the initial number of items
  },
  methods: {
   

    exportReports() {
 
      const csv = Papa.unparse(this.items, { header: true });
      let csvData = new Blob([csv], { type: "text/csv;charset=utf-8;" });
      let csvURL = null;
      if (navigator.msSaveBlob) {
        csvURL = navigator.msSaveBlob(csvData, `${moment().format("MMDDYYYY")}.csv`);
      } else {
        csvURL = window.URL.createObjectURL(csvData);
      }
      var tempLink = document.createElement("a");
      tempLink.href = csvURL;
      tempLink.setAttribute("download", `${moment().format("MMDDYYYY")}.csv`);
      tempLink.click();
    },
    
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    async getTransactions() {
      try {
        const res = await this.$axios({
          method: "GET",
          url: `${this.$axios.defaults.baseURL}/transactions/select`,
          headers: { Authorization: "Bearer " + localStorage.token }
        });


        for (let i = 0; i < res.data.view.length; i++) {
          if (res.data.view[i].questions) {
            this.items.push({
              id: res.data.view[i].employeeid,
              name: res.data.view[i].formalname,
              isSatisfied: res.data.view[i].questions[0].answer,
              suggestion: res.data.view[i].questions[1].answer
            });

            if (res.data.view[i].questions[0].answer === "Yes") {
              this.yesses++;
            } else {
              this.noes++;
            }
          } else {
            this.items.push({
              id: res.data.view[i].employeeid,
              name: res.data.view[i].formalname,
              isSatisfied: "N/A",
              suggestion: "N/A"
            });

            this.noVote++;
          }
        }

        this.totalRows = this.items.length;

  
      } catch (e) {}
    }
  }
};
</script>

<style>
.cons {
  padding-top: 20px;
  width: 100%;
}
</style>