<template>
  <div class="container card myS">
    <div class="imgl"></div>
    <div class="title">Mess Hall Services Survey</div>
    <div class="con">
      <b-form @submit.prevent="onSubmit">
        <b-form-group
          v-for="(question, index) in questions"
          :key="index"
          :label-for="'input-'+index"
          :label="question.question"
        >
          <div v-if="question.type === 'radio'">
            <b-form-radio-group :id="'input-'+index" v-model="answers[index].answer" :options="options" required></b-form-radio-group>
          </div>

          <div v-else-if="question.type === 'text-area'">
            <b-form-textarea :id="'input-'+index" v-model="answers[index].answer" :maxlength="70" ></b-form-textarea>
          </div>
        </b-form-group>

        <!-- 
         <b-form-group
      
        label-for="input-1"
        label="Are you satisfied with our Messhall Services? (Yes or No)"
      
      >

      
        <b-form-radio-group
          id="input-1"
          v-model="selected"
          :options="options"
        ></b-form-radio-group>
      </b-form-group>

     <b-form-group
        label-for="input-2"
        label="Suggestions (Optional)"
      
      >
        <b-form-textarea
          id="input-2"
          v-model="suggestion"
        ></b-form-textarea>
        </b-form-group>-->

        <b-button type="submit" variant="success">Submit</b-button>
      </b-form>
    </div>
  </div>
</template>

<script>
import Logo from "~/components/Logo.vue";

export default {
  data: () => ({
    selected: null,
    options: [{ text: "Yes", value: "Yes" }, { text: "No", value: "No" }],
    suggestion: null,
    answers: [],
    questions: []
  }),
  created() {
    if(!localStorage.code){
      this.$router.push('/')
    }
    this.getQuestions()
  },
  computed: {},
  methods: {
    async onSubmit() {
    
try{


     const res = await this.$axios({
      method: "POST",
      url: `${this.$axios.defaults.baseURL}/transactions/insert`,
      data: {
        code: localStorage.code,
        answers: this.answers
      }
    })

    if(res.status === 201){
      localStorage.clear()
      this.$router.push('/thankyou')
    }
}catch(e){
  console.log(e)
}

    },

    async getQuestions() {
      try{
      
    const res = await this.$axios({
      method: "GET",
      url: `${this.$axios.defaults.baseURL}/questions/select`
    })


    this.questions = res.data.view

    for(let i = 0; i<res.data.view.length; i++){
      this.answers.push({questionid: res.data.view[i].id, answer: null})
    }


      }catch (e){
        console.log(e)
      }
    }
  }
};
</script>

<style>
.myS {
  padding: 3%;
  width: 40%;
  position: relative;
  top: 130px;
  background: #b9cc81;
  border: 0px;
  box-shadow: 0px 6px 10px 1px #dde6bf;
}
.imgl {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  padding: 1%;
  background-image: url(/logo-c.png);
  background-size: 150px;
  background-position: center;
  background-repeat: no-repeat;
}
.title {
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
.con {
  text-align: center;
  color: #75834e;
  font-weight: bold;
  font-size: 1.1rem;
}
</style>
