<template>
  <div>
    <div>
      <b-navbar class="navbar">
        <b-navbar-nav>
          <b-nav-item @click="$router.push('/reports')">Reports</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
         
          <b-nav-item-dropdown text="Account" right>
            <b-dropdown-item @click="$router.push('/changepassword')">Change Password</b-dropdown-item>
            <b-dropdown-item @click="logout">Logout</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-navbar>
    </div>

    <div>
      <nuxt />
    </div>
  </div>
</template>

<script>
export default {

  methods: {
    logout(){
      localStorage.clear()
      this.$router.push("/login");

    }
  }

};
</script>

<style>
.navbar {
  background: #b9cc81;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
</style>