<template>
  <div class="container card myS">
    <div class="imgl"></div> 
    <div class="title">Mess Hall Services Survey</div>
    <div class="ver">V1.0.0</div>
    <b-form @submit.prevent="onSubmit">
      <b-form-group id="input-group-1" label-for="input-1" label="ID Number:" label-class="text-white">
        <b-form-input id="input-1" v-model="code" required></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label-for="input-2" label="Birthdate (dd/mm/yyyy):" label-class="text-white">
        <b-form-input id="input-2" type="date" v-model="birthdate" required></b-form-input>
      </b-form-group>

      <b-button block  type="submit" variant="success">Take Survey</b-button><br>
      <b-button block href="./User_Guide.pdf" target="_blank" class="ub" type="button">User Guide</b-button>
    </b-form>
  </div>
</template>

<script>
import Logo from "~/components/Logo.vue";

export default {
  data: () => ({
    code: null,
    birthdate: null
  }),
  created() {
    if (localStorage.code) {
      this.$router.push("/survey");
    }
  },
  computed: {},
  methods: {
    async onSubmit() {



      try {
        const res = await this.$axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/employees/select/${this.code}`,
          data: {
            birthdate: this.birthdate
          }
        });

        if (res.status === 200) {
          localStorage.clear();
          localStorage.code = res.data.view.code;
          this.$router.push("/survey");
        }
      } catch (e) {
      
        this.$bvToast.toast(`${e.response.data.error}`, {
          title: "Error",
          autoHideDelay: 1500,
          variant: "danger",
          appendToast: false,
          solid: true
        });
      }
    }


  }
};
</script>

<style>
.myS {
  padding: 3%;
  width: 40%;
  position: relative;
  top: 130px;
  background: #b9cc81;
  border: 0px;
  box-shadow: 0px 6px 10px 1px #dde6bf;
}
.imgl {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  padding: 1%;
  background-image: url(/logo-c.png);
  background-size: 150px;
  background-position: center;
  background-repeat: no-repeat;
}
.title {
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
.ub {
  background: #6d7d3d;
  border: 0px;
}
.ver {
  font-size: 1rem;
  color: white;
  margin-bottom: 45px;
  text-align: center;
}
</style>
