<template>
  <div class="container card myS">
    <div class="imgl"></div>
    <div class="title">Mess Hall Services Survey</div>
    <div class="lrg">Thank You!</div>
  </div>
</template>

<script>



export default{
  created(){
    setTimeout( () => this.$router.push({ path: '/'}), 2000);
  }
}


</script>

<style>
.myS {
  padding: 3%;
  width: 40%;
  position: relative;
  top: 130px;
  background: #b9cc81;
  border: 0px;
  box-shadow: 0px 6px 10px 1px #dde6bf;
}
.imgl {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  padding: 1%;
  background-image: url(/logo-c.png);
  background-size: 150px;
  background-position: center;
  background-repeat: no-repeat;
}
.title {
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
.lrg {
  font-size: 5rem;
  width: 100%;
  text-align: center;
  color: white;
}
</style>
