<template>
  <div class="container-fluid">
    <div class="con row justify-content-center">
        <div class="con2 ">
        <b-form @submit.prevent="onSubmit">
        <b-form-group id="input-group-1" label-for="input-1">
            <b-form-input id="input-1" required v-model="oldPassword" placeholder="Old Password" type="password"></b-form-input>
        </b-form-group>


        <b-form-group id="input-group-2" label-for="input-2">
            <b-form-input id="input-2" required v-model="newPassword1" placeholder="New Password" type="password"></b-form-input>
        </b-form-group>

            
        <b-form-group id="input-group-3" label-for="input-3">
            <b-form-input id="input-3" required v-model="newPassword2" placeholder="New Password" type="password"></b-form-input>
        </b-form-group>

            <b-button block  type="submit" variant="success" :disabled="checkInput">Change Password</b-button>

        
        </b-form>
        </div>
    </div>
  </div>
</template>

<script>


export default {
  layout: "accounts",
  created() {
    if (!localStorage.token) {
      this.$router.push("/login");
    }
 
  },
  data() {
    return {
        oldPassword: null,
        newPassword1: null,
        newPassword2: null
    };
  },
  computed: {
    checkInput(){

      

        if(this.newPassword1 === this.newPassword2){
            return false
        }else {
            return true
        }
    }


  },
  mounted() {
  
  },
  methods: {

       async onSubmit() {
      try { 

          const res = await this.$axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/changepassword`,
          data: {
            oldPassword: this.oldPassword,
            newPassword: this.newPassword1,
            employeeid: localStorage.id
          },
          headers: { Authorization: "Bearer " + localStorage.token }
        })

        if(res.status === 200){
            this.$bvToast.toast(`Password changed successfully`, {
          title: 'Success',
          autoHideDelay: 1500,
          variant: 'success',
          appendToast: false,
          solid: true
        })

        localStorage.clear()
        this.$router.push("/login");
        
        }
        
      } catch (e) {
  
        this.$bvToast.toast(`${e.response.data.error}`, {
          title: 'Error',
          autoHideDelay: 1500,
          variant: 'danger',
          appendToast: false,
          solid: true
        })
      }
    }
   
  }
};
</script>

<style>
.con {
    margin-top: 10%;
}
.con2 {
    width: 30%;
    padding: 30px;
}

</style>